body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    background-color: rgb(222, 223, 223);
}

.text-top{
   text-align: center;
}

.text-top h1{
    font-weight: lighter;
}

span{
    font-weight: 700;
}




/* cajas */

.box-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    
}

.box {
    display: flex;
    justify-content: center;
    gap: 20px; 
}




.box{
    display: flex;
    align-items: center;
    gap: 20px; 
   
}

.sub-box {
   background-color: rgb(255, 255, 255);
   width: 400px;
   height: 300px;
   border: 1px black solid; 
   display: flex;
   justify-content: center;
   
   flex-direction: column;
}

.sub-box h3{
    margin-left: 50px;
    margin-bottom: 8px;
    font-size: 20px;
    
}

.sub-box p{
    width: 400px;
    margin: 0;
    margin-left: 50px;
    font-size: 18px;
    
    
}

.sub-box img{
    width: 80px;
    height: 80px;
    align-items: flex-start;
    margin-left: 40px;
    
}

.box2{
    display: flex;
    align-items: center;
    gap: 20px;
}

