Body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-image: url(img/hand_writing_book.jpg);
    background-repeat: no-repeat;
   
 
}

.menu{
    background-color: #fcdcb3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menu-h1{
    margin-left: 100px;
}

.nav-ul{
    display: flex;
    gap: 24px;
    margin-right: 120px;
}


.item-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.text-form{
    display: flex;
    justify-content: space-around;
    color: #f0f8ff;
    align-items: center;
    height: 80vh;
    
}


.form-h1{
    font-size: 50px;
    width: 400px;
    margin-bottom: 0;
    margin-left: 20px;
}

.form-p{
    width: 480px;
    font-size: 18px;
    margin-left: 20px;
}


.text-in{
    font-size: 20px;
    color: #020202;

}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.contact-form label {
    margin-top: 28px;
}


.contact-form input{
    width: 80%;
    height: 30px;
    padding: 10px;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    width: 80%;
    height: 30px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 30px;
    padding: 10px 0 10px 0;
    border: none;
    background-color: #d8a15d;
    color: white;
    width: 88%;
    height: 50px;
    border-radius: 5px;
}


/* Parte 2 */

.four-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
    font-family: sans-serif;
    padding: 40px;
   
}

.box-row {
    display: flex;
}

.boxes {
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #000;

}

.boxes h4{
   margin-top: 5px;
}

.boxes p{
    margin-top: 0;
}

.boxes i {
    font-size: 40px;
    margin-left: -4px;
    margin-bottom: 10px;
    margin-top: 40px;
    
}


/* Parte 3 */

.caja-general{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}

.imagenes-left{
    display: flex;
    gap: 20px;
}

.imagenes-left img{
    width: 300px;
    height: 420px;
    
}

.texto-right h1{
    width: 450px;
}

.texto-right p{
    width: 300px;

}

.texto-right button{
    width: 40%;
    height: 10%;
    border-radius: 2px;
    background-color: #fcdcb3;
    border: none;
}

/* Footer */

footer {
    background-image: url(img/hand_writing_book.jpg);
    color: white;
    padding: 40px;
    margin-top: 50px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

.footer-section {
    width: 18%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


/* Social media  */

.social-links a {
    color: white;
    margin-right: 6px;
    font-size: 10px;
    text-decoration: none;
    background-color: #fcdcb3;
    padding: 10px;
    border-radius: 50%;
}

/* bottom part  */
.line{
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
   
}
