body {
    margin: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-image: url(img/hand_writing_book.jpg);
    color: white;
    padding: 40px 20px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    width: 18%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


/* Social media  */

.social-links a {
    color: white;
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
}

/* bottom part  */
.line{
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
   
}
