body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    display: flex;
    text-align: center;
}

/* Parte izquierda */

.left-part img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
    
}


.left-part{
    width: 20%;
    height: 100vh;
    background-color: #a52a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;;

}

.text-photo{
    text-align: center;
    line-height: 0.6;
    font-size: 20px;
    color: #f0f8ff;
}

/* Menu */

.menu{
    text-align: center;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    
    
}

.nav-ul{
    padding-left: 0;
    color: #f0f8ff;
    font-size: 23px;
    
}


.item-list{
    padding: 12px 0;
    list-style: none;
    border-bottom: 1px solid #fcfeff;
    width: 100%;  
}

.item-list a{
    text-decoration: none;
    color: #f9fcff;
}

.item-list:hover{
    background-color: #b2c451;
    
    
}

/* Social media */

.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 15px 0;
    
}

.social-media i{
    text-decoration: none;
    color: black;
    font-size: 28px;
    padding: 5px;
    background-color: #550b0b;
    color: #f0f8ff;
    
}

/* Linea separadora */

.hr-1{
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0 0 0 ;
}


.copyright{
    color: #f0f8ff;
    font-size: 20px;
}

.copyright-p{
    padding: 50px;
}

.right-part{
    width: 80%;
    background-image: url(img/es_es_luz_nocturna_desierto.jpg);
    box-sizing: border-box;
    background-size: cover;
    color: #f0f8ff;
    font-size: 20px;
   
}



.title2{
    margin-top: 40px;
    margin-bottom:5px;
    font-size: 28px;
}

.hr-2{
    padding: 0;
    width: 50px;
    border: #a52a2a solid 1px;
     margin-top: 0px;
    
}

.right-text{
    font-size: 18px;
    width: 1200px;
    margin: auto;
    padding: 0 0 24px 0;
  
}

.text-img p{
    width: 400px;
    font-size: 14px;
    text-align: justify;
    
}


.text-img{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px 0 0 0;
}

.text-img img{
    width: 500px;
    height: 300px;
 
}

.titulo4{
    text-align: left;
    font-size: 30px;

}

.hr-3{
    margin-top: 40px;
    width: 70%;

}

.botton1{
    display: flex;
    justify-content: start;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    color: #573939;
    border: none;
    font-weight: 700;
    background-color: #ffffff;
    
}

.botton2{
    display: flex;
    justify-content: start;
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
    border: none;
    color: #573939;
    font-weight: 600;
    background-color: #ffffff;
}


